{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<main>

    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Total PGRs</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        {{pgr}}
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Active PGRs</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        {{apgr}}
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Inactive PGRs</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        {{ipgr}}
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Stipend Payment History
                    </div>
                    <div class="card-body"><div>
                        <div id="piechart" style="width: 100%; height: 500px;"></div>
                      </div></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Stipend Payment History
                    </div>
                    <div class="card-body">
                        <div  style="width: 100%; height: 500px;">
                            <table class="table table-stripped">
                                
                                <tr>
                                    <th>Month</th><th>No. of PGRs</th><th>Gross Stipend</th>
                                </tr>
                                
                                <tr>
                                    <td>April 2024</td><td>{{tpg4}}</td><td>{{ts4|intcomma}}</td>
                                </tr>
                                <tr>
                                    <td>May 2024</td><td>{{tpg5}}</td><td>{{ts5|intcomma}}</td>
                                </tr>
                                <tr>
                                    <td>June 2024</td><td>{{tpg6}}</td><td>{{ts6|intcomma}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center; font-weight:bold;">Total</td><td style="font:bold">{{ts|intcomma}}</td>
                                </tr>
                                
                                <tr style="text-align: center; font-weight:bold;"><th colspan="3"> Month to Month Comparision</th>
                                </tr>
                                
                                <tr style="text-align: center;">
                                    <th>April 2024</th><th>-Removed<br>+Added</th><th>May 2024</th>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>{{tpg4}}</td><td>-{{removed_in_may}}+{{added_in_may}}</td><td>{{tpg5}}</td>
                                </tr>
                                <tr style="text-align: center;">
                                    <th>May 2024</th><th>-Removed<br>+Added</th><th>June 2024</th>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>{{tpg5}}</td><td>-{{removed_in_june}}+{{added_in_june}}</td><td>{{tpg6}}</td>
                                </tr>
                            </table>
                        </div></div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                List of PGRs
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>CNIC/Passport</th>
                            <th>Email</th>
                            <th>PMDC</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Bank</th>
                            <th>IBAN</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>CNIC/Passport</th>
                            <th>Email</th>
                            <th>PMDC</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Bank</th>
                            <th>IBAN</th>
                            <th>Hospital</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for d in status %}
                        <tr>
                            <td>{{d.id}}</td>
                            <td>{{d.name | title}}</td>
                            <td>{{ d.cnic }}</td>
                            <td>{{ d.email }}</td>
                            <td>{{ d.pmdc }}</td>
                            <td>{{ d.start_date }}</td>
                            <td>{{ d.end_date }}</td>
                            <td>{{d.bank}} </td>
                            <td>{{ d.iban }}</td>
                            <td>{{d.status}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</main>
{% endblock %}