{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Income Tax Statement{% endblock %}
{% block content %}
<main>
    <style>
        @page {
            size: A4 landscape;
            margin: 10mm;
        }
        @media print {
            body * {
                visibility: hidden;
            }
            #payhis, #payhis * {
                visibility: visible;
            }
            #payhis {
                position: absolute;
                top: 10mm;
                left: 10mm;
                right: 10mm;
                bottom: 10mm;
                box-sizing: border-box;
                width: calc(100% - 20mm);
                height: calc(100vh - 20mm);
            }
            .footer {
                position: fixed;
                bottom: 10px;
                width: 100%;
                text-align: center;
                font-size: 12px;
                color: gray;
                visibility: visible;
            }
        }
    </style>
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card bg-info">
                    <div class="card-header text-center">Income Tax Statement</div>
                    <div class="card-body text-center">
                        <form action="itaxstatement" method="POST" class="bg-info">
                            {% csrf_token %}
                            <table class="table table-borderless">
                                <tr>
                                    <td><label for="cnic">CNIC/Passport</label></td>
                                    <td><input type="text" name="cnic" id="cnic" class="form-control" required></td>
                                </tr>
                            </table>
                            
                                <input type="submit" value="Submit" class="btn btn-primary">
                        
                        </form>
                        <div class="position-absolute bottom-0 end-0">{{total_doc}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="payhis" style="width: 210mm; margin:auto;" class="mt-4">
            {% if ph %}
            <table class="table table-bordered">
                <thead>
                   
                    <tr>
                        <th><img src="{% static 'img/phf.png' %}" alt="" width="90" height="90"></th> <th  colspan="{{colcount}}" style="text-align:center; vertical-align:middle;">Income Tax Statement</th><th><img style="align-items: end;" src="{% static 'img/govtp.jpg' %}" alt="" width="90" height="90"></th>
                    </tr>
                    <tr>
                     {% for d in doctor %}<th>Name</th> <th  colspan="{{colcount2}}" style="text-align:left;">{{d.name}}</th>{% endfor %}
                    </tr>
                    <tr>
                        {% for d in doctor %} <th>CNIC#</th><th  colspan="{{colcount2}}" style="text-align:left;">{{d.cnic}}</th>{% endfor %}
                       </tr>
                    
                </thead>
                <tbody>
                    
                    
                    <tr>
                        <td>Description</td>{% for p in ph %}<td>{{p.month}}/{{p.year}}</td>{% endfor %}<td>Total</td>                        
                    </tr>
                    <tr>
                        <td>Gross Stipend</td>{% for p in ph %}<td>{{p.gross_stipend}}</td>{% endfor %}<td>{{gt}}</td>
                    </tr>
                    <tr>
                        <td>Income Tax deducted</td>{% for p in ph %}<td>{{p.itax}}</td>{% endfor %}<td>{{titax}}</td>
                    </tr>
                </tbody>
            </table>
           
            <div class="footer">
                System generated document, signatures not required.
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
